@{
	ViewData["title"] = "A DriveTech";
}

<div class="text-center">
	<h1 class="display-4">@ViewData["title"]</h1>
</div>

<div class="mt-5">
	<h2>Acompanhamento de Manutenção de Veículos Online</h2>

	<p>O CarClinic é um site desenvolvido em ASP.NET Core MVC com o objetivo de proporcionar aos clientes da oficina uma maneira prática e eficiente de acompanhar o status de manutenção de seus veículos. Com o CarClinic, os clientes podem acessar informações detalhadas sobre o serviço de seus veículos de qualquer lugar, a qualquer momento.</p>
	<hr />

	<div class="mt-5">
		<h3>Funcionalidades para Clientes:</h3>
		<ul>
			<li>
				<h5>Acompanhamento de Status:</h5>
				<p>Os clientes podem verificar se o serviço do veículo está concluído, em análise ou em manutenção.</p>
			</li>
			<li>
				<h5>Observações e Autorizações:</h5>
				<p>O site permite que os clientes visualizem observações importantes, como orçamentos de serviços ou peças que precisam ser trocadas, e autorizem ou não essas ações diretamente pelo site.</p>
			</li>
		</ul>
		<h3>Funcionalidades para Administradores:</h3>
		<ul>
			<li>
				<h5>Gestão de Clientes e Veículos:</h5>
				<p>Os administradores podem cadastrar novos clientes e veículos, além de atualizar informações existentes.</p>
			</li>
			<li>
				<h5>Atualização de Status:</h5>
				<p>É possível alterar o status do serviço dos veículos, mantendo os clientes sempre informados sobre o progresso.</p>
			</li>
			<li>
				<h5>Gerenciamento de Dados:</h5>
				<p>Adicionar, excluir ou modificar registros de veículos e proprietários de forma simples e organizada.</p>
			</li>
		</ul>

		<div class="mt-3">
			<p>O CarClinic foi criado para melhorar a comunicação entre a oficina e seus clientes, oferecendo transparência e comodidade no acompanhamento dos serviços prestados. Seja para verificar o andamento de uma manutenção ou para gerenciar os dados dos clientes, o CarClinic é a solução ideal para oficinas que buscam modernizar seus processos e oferecer um atendimento de excelência.</p>
		</div>
	</div>
</div>