@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo<br />ao<br />DriveTech</h1>
    <p>Saiba mais sobre a <a href="https://learn.microsoft.com/aspnet/core" style="text-decoration: none;">DriveTech</a>.</p>
</div>

<div class="mt-2 text-center">
    <img src="/img/Img_DriveTech.png" class="img-fluid" alt="Logo do site" />
</div>
